/* Fonts */

.quicksand-primary {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-seconadary {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Global Css */

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffffff;
}

.secondary_bg {
  background-color: #01acfd;
}

.hide {
  display: none;
}

.margin_primary {
  margin: 0px 141px;
}

/* Shared Css */

.section_title {
  font-size: 46px;
  font-weight: bold;
  color: #000000;
  line-height: 58px;
  margin-top: 60px;
  margin-bottom: 80px;
  text-align: center;
}

.primary_btn {
  border-radius: 12px;
  background-color: black;
  padding: 10px;
  cursor: pointer;
  border: none;
}
.primary_btn a {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: white;
  text-decoration: none;
}
.primary_btn a:hover {
  color: red;
}
.secondary_btn {
  border-radius: 12px;
  background-color: orange;
  padding: 10px;
  cursor: pointer;
  border: none;
}
.secondary_btn a {
  font-weight: 500;
  line-height: 30px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}
.secondary_btn a:hover {
  color: red;
}
.readmore_btn {
  cursor: pointer;
  border: none;
  background-color: white;
}
.readmore_btn a {
  font-weight: bold;
  line-height: 28px;
  font-size: 15px;
  text-decoration: none;
}
.readmore_btn a:hover {
  color: red;
}

/* Style for the scrolling text section */
.scrolling-text-section {
  background-color: #f0f0f0; 
  padding: 10px 0;
  text-align: center;
  margin-top: 20px; 
}

.scrolling-text {
  width: 100%;
  overflow: hidden; 
  white-space: nowrap; 
}

.scrolling-text span {
  display: inline-block;
  padding-left: 100%; 
  animation: scroll-left 18s linear infinite; 
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%); 
  }
  100% {
    transform: translateX(-100%);
  }
}

/* header_section */
.header_section {
  padding: 0px 141px;
  margin: 20px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.header_left {
  display: flex;
}
.header_left h2 {
  font-size: 32px;
  font-weight: bold;
  line-height: 30px;
  /* width: 100px; */
  /* height: 60px; */
  margin: 10px;
  align-items: center;
  /* transition: width 1s, height 1s, transform 1s; */
}
.header_left h2 a {
  text-decoration: none;
  color: #131313;
}
.header_left h2 a:hover{
  color: #01acfd;
  transition: color 1s ease-in;
  /* transform: rotate(90deg); */
}
/* Nav */

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

nav h3 {
  font-weight: bold;
  font-size: 45px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 50px;
}
nav ul li a {
  font-size: 20px;
  text-decoration: none;
}
nav ul li a:hover{
  font-size: 22px;
 color: #000000;
 transition: font-size .03s ease-in-out, color 3s;
}

.header_right {
  text-align: right;
}
.text_orange {
  color: orange;
}
.text_sky {
  color: #01acfd;
}
.text_sky2 {
  color: #05d4df;
}
.text_sky3 {
  color: #5d58ef;
}

/* Banner Css */
.banner_section {
  background-color: #ffffff;
}
.banner_container {
  display: flex;
  align-items: center;
  gap: 50px;
}
.banner_content {
  margin: 122px 0px;
  flex: 1;
}
.banner_image {
  flex: 1;
  max-width: 400px;
  text-align: center;
}

.banner_image img {
  max-width: 100%; 
  height: auto;
}
.banner_content p {
  font-size: 20px;
  color: rgb(0, 0, 0);
  margin-bottom: 24px;
}

.banner_title {
  font-weight: bold;
  font-size: 56px;
  color: rgb(0, 0, 0);
  line-height: 61px;
}
.title_orage {
  color: orange;
}
.title_sky {
  color: #01acfd;
}


/* Curriculam section */
.curriculam_section {
  background-image: url("assets/bg.png");
}
.curriculam_container {
  display: flex;
  flex-wrap: wrap; 
  gap: 24px;
}
.curriculam {
  flex: 1; 
  min-width: calc(33.33% - 24px); 
  box-sizing: border-box;
  border-radius: 18px;
  padding: 24px;
  background-color: white;
  border: 1px solid rgba(14, 14, 14, 0.15);
  box-shadow: inset 0px 80px 50px 0px #def5ff;
  text-align: center;
}
.shadow_orange {
  box-shadow: inset 0px 80px 50px 0px #fff4dc;
}
.shadow_pink {
  box-shadow: inset 0px 80px 50px 0px #f2e8ff;
}

.readmore_btn_sky {
  color: #64c8ff;
}
.readmore_btn_orange {
  color: #f0aa00;
}
.readmore_btn_pink {
  color: #8700ff;
}

.curriculam h4 {
  font-size: 25px;
  font-weight: bold;
}
.curriculam h4 a {
  text-decoration: none;
  color: #202020;
}
.curriculam h4 a:hover {
  color: #09a15c;
}
.curriculam p {
  font-size: 15px;
  font-weight: 600;
  color: #808080;
  line-height: 28px;
  margin-bottom: 32px;
}

/* Arrows btn */
.arrow_btns {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 60px 0px;
}
.prev {
  background-color: orange;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  padding: 20px;
  color: white;
  cursor: pointer;
}
.next {
  background-color: orange;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  padding: 20px;
  color: white;
  cursor: pointer;
}
/* Stories section */
.stories_section {
  background-image: linear-gradient(
      0deg,
      rgba(254, 163, 1, 0.7),
      rgba(255, 255, 255, 0.5)
    ),
    url("assets/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.storie img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0px 0px;
  object-fit: contain;
  position: relative;
}
.date_bg_1 {
  background: #3cd8e8;
}

.date_bg_2 {
  background: #95b226;
}

.date_bg_3 {
  background: #5d58f0;
}
.image_container {
  position: relative;
}
.story_date_overlay {
  position: absolute;
  bottom: -10px;
  left: 26px;
  color: #fff;
  font-size: 16px;
  font-family: "Raleway", serif;
  padding: 5px 10px;
  border-radius: 48px;
  font-weight: 500;
  line-height: 28px;
}

.stories_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.box1 {
  grid-row: span 2;
}
.storie {
  border-radius: 16px;
  background-color: white;
}
.storie_center {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 60px;
}

.storie h4 {
  padding: 32px 38px;
}
.storie h4 a {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  line-height: 38px;
  color: #000000;
}
.storie h4 a:hover {
  color: #db6b6b;
}
.storie p {
  font-size: 16px;
  font-weight: 600;
  color: #666666;
  line-height: 28px;
  padding: 32px 38px;
}

/* Footer section */

.footer_section {
  background-color: #01acfd;
  padding: 123px 228px 174px 140px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.footer_left {
  color: white;
}
.footer_box {
  display: flex;
}
.footer_box img {
  width: 62px;
  height: 62px;
}
.footer_box h2 {
  margin-bottom: 32px;
  font-size: 42px;
  font-weight: bold;
  line-height: 40px;
}
.footer_left p {
  margin-top: 28px;
  font-size: 20px;
  font-weight: 400;
}

.footer_middle {
  color: white;
}
.footer_middle h3 {
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: bold;
}
.footer_middle ul {
  display: block;
}
.footer_middle ul li {
  list-style: none;
}
.footer_middle ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 15px;
  display: block;
}
.footer_middle ul li a:hover {
  text-decoration: underline;
  color: rebeccapurple;
}
.footer_right h3 {
  color: white;
  margin-bottom: 32px;
  font-size: 26px;
  font-weight: bold;
  line-height: 26px;
}

.footer_right ul li {
  display: inline-block;
  width: 50px;
  height: 50px;
  transition: width 1s, height 1s, transform 1s;
}
.footer_right ul li a {
  padding-right: 10px;
}


.footer_right ul li:hover {
  
  transform: rotate(90deg);
}
@media screen and (max-width: 576px) {


  .header_section {
    padding: 0px 10px;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid #FEA301;
  }
  .header_left {
    margin-bottom: 10px;
  }

  .header_nav {
 
    display: none; 
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 20px 0;
    text-align: center;
    transition: top 5s ease-in-out;
  }

  .header_nav.active {
    display: block;
  }

  nav ul {
    flex-direction: column; 
    gap: 15px; 
  }


  .hamburger {
    display: block; 
    text-align: end;
    cursor: pointer;
    margin: 10px;
  }

  .header_left h2,
  .header_nav,
  .header_right {
    display: none;
  }

  .banner_container {
    flex-direction: column-reverse;
  }
  .banner_content {
    margin: 20px;
  }
  .margin_primary {
    margin: 20px;
  }
  .banner_title {
    font-size: 32px;
    line-height: normal;
    text-align: center;
  }
 
  .banner_image {
    max-width: 100%; 
    margin: 0 auto;
  }

  .banner_image img {
    height: auto;
  }

  .primary_btn {
    display: block;
    margin: 0 auto; 
  }

  .section_title {
    font-size: 28px;
    font-weight: bold;
    line-height: 30px;
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .curriculam_container {
    flex-direction: column;
  }
  .arrow_btns,
  .box1 {
    display: none;
  }
  .stories_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .storie_center {
    padding-top: 30px;
    padding-bottom: 34px;
  }
  .storie h4 {
    padding: 10px 22px;
  }
  .storie h4 a {
    font-size: 10px;
    font-weight: bold;
    line-height: 17px;
  }

  .story_date_overlay {

    bottom: -7px;
    font-size: 9px;

    padding: 2px 8px;
    line-height: 18px;
  }
  .primary_btn a {
    font-size: 16px;
  }

  .footer_section {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
  .footer_box h2 {
    margin-bottom: 24px;
    margin-top: 10px;
    font-size: 36px;
    font-weight: bold;
    line-height: 34px;
  }
  .footer_left p {
    font-size: 16px;
  }

}

@media screen and (min-width: 576px) and (max-width: 992px) {

  
  .header_section {
    padding: 0px 10px;
    grid-template-columns: repeat(2, 1fr);
    /* border-bottom: 1px solid #FEA301; */
  }
  /* .header_left {
    margin-bottom: 10px;
  } */


  .hamburger {
    display: none; 
  }

  
  .header_right {
    display: none;
  }

  /* .banner_container {
    flex-direction: column-reverse;
  } */

  
  .banner_content {
    margin: 20px;
  }
  .margin_primary {
    margin: 20px;
  }
  .banner_title {
    font-size: 32px;
    line-height: normal;
    text-align: center;
  }
 
  .banner_image {
    max-width: 100%; 
    margin: 0 auto;
  }

  .banner_image img {
    height: auto;
  }

  .primary_btn {
    display: block;
    margin: 0 auto; 
  }

  .section_title {
    font-size: 28px;
    font-weight: bold;
    line-height: 30px;
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .curriculam {
    min-width: calc(50% - 20px); 
  }
  .arrow_btns,
  .box1 {
    display: none;
  }
  .stories_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .storie_center {
    padding-top: 30px;
    padding-bottom: 34px;
  }
  .storie h4 {
    padding: 10px 22px;
  }
  .storie h4 a {
    font-size: 10px;
    font-weight: bold;
    line-height: 17px;
  }

  .story_date_overlay {

    bottom: -7px;
    font-size: 9px;

    padding: 2px 8px;
    line-height: 18px;
  }
  .primary_btn a {
    font-size: 16px;
  }

  .footer_section {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  .footer_box h2 {
    margin-bottom: 24px;
    margin-top: 10px;
    font-size: 36px;
    font-weight: bold;
    line-height: 34px;
  }
  .footer_left p {
    font-size: 16px;
  }
}


